body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 1.6rem;
}

:root{
    --hover-button-header: linear-gradient(45deg, rgba(134,116,171,1) 0%, rgba(194,177,224,1) 100%);;
}

header {
    font-size: 62.5%;
    background-color: #2e2751;
    padding: 1rem 2rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 100%;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

ul li {
    margin-left: 2rem;
}

ul li a {
    color: white;
    text-decoration: none;
}

.nav-buttons {
    display: flex;
    gap: 1rem;
}

.nav-buttons .btn {
    color: white;
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    background-color: #6c63ff;
    transition: background-color 0.3s, background-image 0.3s;
}

.nav-buttons .junte-se {
    color: wheat;
    border-radius: 2rem;
}

.nav-buttons .junte-se:hover {
    background:var(--hover-button-header);
    transition: 2s;
}
