* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    font-family: 'Arial', sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    background-color: #211E2E;
    width: 18rem;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.logo img {
    width: 15rem;
    margin-bottom: 10px;
}

.logo span {
    font-size: 20px;
    font-weight: bold;
    color: #9C92AC;
}

.menu a {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1.2rem 0;
    text-decoration: none;
    color: #9C92AC;
    border-bottom: 0.12rem solid #333;
    gap: 0.6rem;
}

.menu i {
    margin-right: 10px;
}

.main {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #302C42;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    border-bottom: 2px solid #444;
    padding-bottom: 20px;
}

.header ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.header ul li {
    margin-right: 20px;
}

.header ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

.header h1 {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
}

.assuntos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.assunto {
    width: 23%;
    margin-bottom: 20px;
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.assunto:hover {
    transform: translateY(-10px);
}

.assunto img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.assunto h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}
