* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    -webkit-font-smoothing: antialiased;
}

:root {
    --bg-color: #f4f6fa;
    --bg-span: #f4f6fa;
    --color-span: #626c7f;
    --purple: #8828D3;
    --purple-hover: linear-gradient(90deg, #7B2ABB 0%, #601B96 100%);
    --primary-text-color: #313e51;
    --secundary-text-color: #626c7f;
    --pontuacao-bg: #fff;
    --shadow: 0px 16px 40px 0px rgba(143, 168, 193, 0.14);
    --bg-html: #595278;
    --bg-css: #F0EEF8;
    --bg-javascript: #C1D2EA;
    --bg-acessibilidade: #3B4D66;
    --white: #fff;
    --bg-mobile: url(/pages/quiz/assets/images/Background\ Mobile\ light.svg);
    --bg-desktop: url(/pages/quiz/assets/images/Background\ desktop\ light.svg);
}

body.escuro {
    --bg-color: #37334B;
    --color-span: #313e51;
    --bg-mobile: url(/pages/quiz/assets/images/Background\ mobile\ Dark.svg);
    --bg-desktop: url(/pages/quiz/assets/images/Background\ Desktop\ Dark.svg);
    --primary-text-color: #fff;
    --secundary-text-color: #abc1e1;
    --pontuacao-bg: #2E2A43;
    --shadow: 0px 16px 40px 0px rgba(49, 62, 81, 0.14);
}

body {
    height: 100svh;
    background: var(--bg-mobile) var(--bg-color);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
}

.assunto {
    display: flex;
    align-items: center;
    gap: 16px;
}

.assunto_icone{
    background: var(--bg-acessibilidade);
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 5px;
}

.assunto_icone img {
    width: 100%;
}

.assunto_icone.html {
    background: var(--bg-html);
}

.assunto_icone.css {
    background: var(--bg-css);
}

.assunto_icone.javascript {
    background: var(--bg-javascript);
}

.assunto_icone.acessibilidade {
    background: var(--bg-acessibilidade);
}

.assunto h1 {
    font-size: 18px;
    font-weight: 500;
    color: var(--primary-text-color);
}

.tema {
    padding: 8px 0;
    display: flex;
    align-items: center;
    gap: 8px;
}

.tema img {
    width: 16px;
}

.tema button {
    height: 20px;
    width: 32px;
    background: var(--purple);
    border: 0;
    border-radius: 999px;
    padding: 4px;
    display: flex;
    cursor: pointer;
}

.tema button div {
    background: var(--white);
    width: 12px;
    height: 12px;
    border-radius: 999px;
}

main {
    padding: 32px 24px;
}

main h2 {
    font-size: 40px;
    font-weight: 300;
    color: var(--primary-text-color);
    margin-bottom: 40px;
}

main h2 strong {
    font-weight: 500;
}

.pontuacao {
    background: var(--pontuacao-bg);
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    border-radius: 12px;
    margin-bottom: 12px;
    box-shadow: var(--shadow);
}

.pontuacao strong {
    font-size: 88px;
    color: var(--primary-text-color);
    font-weight: 500;
}

.pontuacao p {
    color: var(--secundary-text-color);
    font-size: 18px;
}

main button {
    padding: 16px;
    border-radius: 12px;
    border: 0;
    background: var(--purple);
    color: var(--white);
    width: 100%;

    font-size: 18px;
    font-weight: 500;
    transition: backgroun 0.3s;
    box-shadow: var(--shadow);
}

main button:hover {
    background: var(--purple-hover);
    cursor: pointer;
}

@media(min-width: 1100px) {
    body {
        background: var(--bg-desktop) var(--bg-color);
        background-size: cover;
        background-repeat: no-repeat;
    }

    header {
        margin-block: 81px;
        max-width: 1160px;
        margin-inline: auto;
    }

    .assunto_icone {
        width: 56px;
        height: 56px;
        padding: 8px;
    }

    .assunto h1 {
        font-size: 28px;
    }

    .tema {
        gap: 16px;
    }

    .tema img {
        width: 24px;
    }

    .tema button {
        width: 48px;
        height: 28px;
    }

    .tema button div {
        width: 20px;
        height: 20px;
    }

    main {
        display: flex;
        gap: 140px;
        max-width: 1160px;
        margin-inline: auto;
    }

    main h2,
    main > div {
        width: 100%;
    }

    main h2 {
        font-size: 64px;
    }

    .pontuacao {
        border-radius: 24px;
        margin-bottom: 32px;
    }

    .pontuacao strong {
        font-size: 144px;
    }

    .pontuacao p {
        font-size: 24px;
    }

    main button {
        font-size: 22px;
        padding: 24px;
        border-radius: 24px;
    }
}