* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Overpass", sans-serif;
    -webkit-font-smoothing: antialiased;
}

:root {
    --dark-blue: #3E3955;
    --light-grey: #7C8798;
    --medium-grey: #7C8798;
    --orange: #675B9E;
    --white: #FFF;
    --very-dark-blue: #403A5F;
    --black-gradient: radial-gradient(circle, #433D60 -20%, #1e252e 100%);

}

body {
    background-color: var(--very-dark-blue);
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: var(--black-gradient);
    max-width: 412px;
    padding: 32px;
    border-radius: 30px;
}

.estrela {
    background-color: var(--dark-blue);
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 30px;
}

.card h1 {
    color: var(--white);
    font-size: 28px;
    margin-bottom: 15px;
}

.card p {
    color: #969FAD;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 24px;
}

.botoes {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

.botoes button {
    width: 51px;
    height: 51px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    border-radius: 50%;
    border: none;
    color: var(--white);
    background-color: var(--dark-blue);
    transition: all ease-in-out 0.3s;
}

.botoes button:hover {
    color: var(--white);
    background-color: var(--orange);
    cursor: pointer;
}

.botoes button:focus {
    color: var(--white);
    background-color: var(--light-grey);
}

.card > a {
    display: block;
    width: 100%;
    padding: 13px;
    background-color: #8276b8;
    border: none;
    border-radius: 22px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    text-decoration: none;
    color: var(--white);

    transition: all ease-in-out 0.3s;
}

.card > a:hover {
    color: #A095D0;
    background-color: #EFEDFA;
    cursor: pointer;
}

